<!-- script is put here so body can be targeted and when page loads it will start at 0 opacity
  instead of flashing once -->
<script type="text/javascript">
  $("body").css({"opacity": "0", "width": "0"});
</script>
<footer class="footer-section">
  <ul class="footer-links">
    <li class="footer-list-item"><a class="footer-link transition" href="/"><i class="fas fa-circle"></i></a></li>
    <li class="footer-list-item"><a class="footer-link transition" href="/portfolio"><i class="fas fa-circle"></i></a></li>
    <li class="footer-list-item"><a class="footer-link transition" href="/about"><i class="fas fa-circle"></i></a></li>
    <li class="footer-list-item"><a class="footer-link transition" href="/contact"><i class="fas fa-circle"></i></a></li>
  </ul>
  <p class="footer-text">Written by Byron Luk</p>
  <a class="footer-icon" href="https://www.github.com/byronluk" target="_blank"><i class="fab fa-github-square"></i></a>
  <a class="footer-icon" href="https://www.linkedin.com/in/byron-luk/" target="_blank"><i class="fab fa-linkedin"></i></a>
  <a class="footer-icon" href="https://codepen.io/byronluk/" target="_blank"><i class="fab fa-codepen"></i></a>
  <a class="footer-icon" href="https://twitter.com/luk_byron" target="_blank"><i class="fab fa-twitter-square"></i></a>
</footer>
<script src="index.js"></script>
