<footer class="footer-section">
  <a class="footer-header" href="/">Byron Luk</a>
  <ul class="footer-links">
      <li><a class="footer-link" href="/portfolio">Portfolio</a></li>
      <li><a class="footer-link" href="/about">About</a></li>
      <li><a class="footer-link" href="/contact">Contact</a></li>
  </ul>
  <p class="footer-text">Written by Byron Luk</p>
  <a class="footer-icon" href="#">Github</a>
  <a class="footer-icon" href="#">Codepen</a>
  <a class="footer-icon" href="#">Twitter</a>
</footer>