<nav class="nav-bar">
  <a class="nav-header" href="/">Byron Luk</a>
  <ul class="nav-links">
    <li><a class="nav-link" href="/portfolio">Portfolio</a></li>
    <li><a class="nav-link" href="/about">About</a></li>
    <li><a class="nav-link" href="/contact">Contact</a></li>
  </ul>
</nav>