<!DOCTYPE html>
<html>

<head>
  <title>Projects | Change Calculator</title>
  <% include ../../partials/projects-head %>
</head>

<body>
  <div class="container">
    <% include ../../partials/projects-nav %>
      <div class="middle-container">
        <div class="next-project__links left-link">
          <a href="weather-app" class="next-project__link left project-transition">
            <i class="fas fa-caret-left next-project__arrow"></i>
          </a>
        </div>

        <div class="main-section project">
          <div>
            <h1>Change Calculator</h1>
            <p>Make sure you're not missing any money!
            </p>
          </div>
          <div class="project-content">
            <img class="project-image" src="../img/change-calculator.png" alt="Screenshot of Change Calculator" />
            <div>
              <h3 class="header">About this project</h3>
              <hr />
              <p>
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet
                a, venenatis vitae, justo.
              </p>
              <div class="technology-container">
                <h4 class="header">Technologies</h4>
                <p class="technology-section__description">These are the core technologies and skills I used while working on this project</p>
                <hr />
                <p class="technologies">
                  React / JavaScript / HTML5 / CSS3
                </p>
              </div>
            </div>
            <img class="project-image" src="../img/change-calculator.png" alt="Screenshot of Change Calculator" />
            <div>
              <p>
                nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio
                et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet
                orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
                Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
              </p>
              <div class="resources-container">
                <h3 class="header">Resources</h3>
                <hr />
                <ul class="resources">
                  <li>You can get a live experience at
                    <a href="https://bl-change-calculator.herokuapp.com/" target="_blank">My Change Calculator</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="next-project__links right-link">
          <a href="sd-top-spots" class="next-project__link right project-transition">
            <i class="fas fa-caret-right next-project__arrow"></i>
          </a>
        </div>

      </div>
      <% include ../../partials/projects-footer %>
  </div>
</body>

</html>