<!DOCTYPE html>
<html>
  <head>
    <title>Projects | Change Calculator</title>
    <% include ../../partials/projects-head %>
  </head>
  <body>
    <div class="container">
      <% include ../../partials/projects-nav %>
      <div class="middle-container">
        <div>
          <a href="vstda" class="next-project__link left project-transition">
            <i class="fas fa-caret-left next-project__arrow"></i>
          </a> 
        </div>

        <div class="main-section project">
          <h1 class="project-page_title">Change Calculator</h1>
        </div>

        <div>
          <a href="sd-top-spots" class="next-project__link right project-transition">
            <i class="fas fa-caret-right next-project__arrow"></i>
          </a>
        </div>
  
        </div>
      <% include ../../partials/projects-footer %>
    </div>
  </body>
</html>