<!DOCTYPE html>
<html>

<head>
  <title>Projects | Hot Homes</title>
  <% include ../../partials/projects-head %>
</head>

<body>
  <div class="container">
    <% include ../../partials/projects-nav %>
      <div class="middle-container">

        <div class="next-project__links left-link">
          <a href="portal" class="next-project__link left project-transition">
            <i class="fas fa-caret-left next-project__arrow"></i>
          </a>
        </div>

        <div class="main-section project">
          <div>
            <h1>Hot Homes</h1>
            <p>
              <p>
          </div>
          <div class="project-content">
            <div class="images-column">
              <img class="project-image" src="../img/hothomes/home-search.png" alt="Screenshot of Write a Letter" />
              <img class="project-image" src="../img/hothomes/listings.png" alt="Screenshot of Write a Letter" />
              <img class="project-image" src="../img/hothomes/details.png" alt="Screenshot of Write a Letter" />
            </div>
            <div class="content-column">
              <div>
                <h3 class="header">Summary</h3>
                <hr />
                <p>
                  I worked with a group to create Hot Homes – a clone of AirBnb. We had a week to implement many features; such as: search
                  by location, user authentication, and multiple user accounts. We also created multiple views to contain
                  our components, so we were efficiently reusing our components. Overall, it was a great learning experience
                  and I learned a lot about the technologies discussed below.
                </p>
              </div>
              <div>
                <h3 class="header">Technologies</h3>
                <p>These are the core technologies and skills I used while working on this project</p>
                <hr />
                <p>
                  The core technologies used while building Hot Homes were the React, Redux, and React-Router stack. We also included Bulma
                  for our styling and used LESS to further customize our design. For our database, we utilized MongoDB and
                  Loopback/Strongloop to quickly create set up our models and have our API set up. My primary responsibility
                  was centered around the user interface and setting up the logic for all the interactions with the website.
                </p>
              </div>
              <div>
                <h3 class="header">Search Bar</h3>
                <hr />
                <p>
                  A feature I enjoyed implementing was the search bar, working on it allowed me to learn a lot about interaction with the front-end
                  and the back-end. By using googles location search API, I can receive geographic coordinates for any location.
                  With those coordinates, I implemented an algorithm to query through the database results and return search
                  results within the desired radius.
                </p>
              </div>
              <div>
                <h3 class="header">Reflection</h3>
                <hr />
                <p>
                  My favorite part about this project was learning Redux and React-Router in-depth. I developed a strong understanding of state
                  management in React, building scalable, single page applications, and separating my presentational and
                  container components. I also enjoyed using react-router and having access to the browser history inside
                  my components. My biggest weakness in programming is working with the back-end and now, I am very confident
                  in scaffolding out a full-stack application from scratch. I am now looking forward to learning more about
                  building data intensive applications that are reliable and scalable.
                </p>
              </div>
              <div>
                <h3 class="header">Resources</h3>
                <hr />
                <ul class="resources">
                  <li>You can get a live experience at
                    <a class="btn btn-sm btn-outline-primary" href="https://hothomes.herokuapp.com/" target="_blank">Hot Homes</a>
                  </li>
                  <li>View our code on
                    <a class="btn btn-sm btn-outline-primary" href="https://github.com/byronluk/hot-homes" target="_blank">Github</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="next-project__links right-link">
          <a href="productive" class="next-project__link right project-transition">
            <i class="fas fa-caret-right next-project__arrow"></i>
          </a>
        </div>

      </div>
      <% include ../../partials/projects-footer %>
  </div>
</body>

</html>