<!DOCTYPE html>
<html>

<head>
  <title>Projects | Movie Finder</title>
  <% include ../../partials/projects-head %>
</head>

<body>
  <div class="container">
    <% include ../../partials/projects-nav %>
      <div class="middle-container">

        <div class="next-project__links left-link">
          <a href="productive" class="next-project__link left project-transition">
            <i class="fas fa-caret-left next-project__arrow"></i>
          </a>
        </div>

        <div class="main-section project">
          <div>
            <h1>Movie Finder</h1>
          </div>

          <div class="project-content">
            <div class="images-column">
              <img class="project-image" src="../img/movie-finder/search.png" alt="Screenshot of Write a Letter" />
              <img class="project-image" src="../img/movie-finder/details.png" alt="Screenshot of Write a Letter" />
            </div>
            <div class="content-column">
              <div>
                <h3 class="header">Summary</h3>
                <hr />
                <p>
                  This project was built to practice with React-Router and handle multiple routes within a single-page application. Working
                  on this solidified my knowledge of React and Redux. I utilized OMDB's API to handle the movie details and
                  implemented a cache to store the details for the most recent movies viewed.
                </p>
              </div>

              <div>
                <h3 class="header">Technologies</h3>
                <p>These are the core technologies and skills I used while working on this project</p>
                <hr />
                <p>
                  Front End: React / Redux / React-Router / HTML5 / CSS3
                </p>
                <p>
                  Back End: Node.js / Express
                </p>
              </div>

              <div>
                <h3 class="header">Search Page</h3>
                <hr />
                <p>
                  Implementing the search bar feature was done through sending a GET request to the OMDB API with parameters for an array of
                  the movies that match the search criteria. Once the response from the server is received, the results are
                  displayed on the screen through mapping over the array and displaying each item in a container with the
                  name, image, and a link for more details.
                </p>
              </div>

              <div>
                <h3 class="header">Resources</h3>
                <hr />
                <ul class="resources">
                  <li>You can get a live experience at
                    <a class="btn btn-sm btn-outline-primary" href="https://bl-movie-finder.herokuapp.com/" target="_blank">Movie Finder</a>
                  </li>
                  <li>View my code on
                    <a class="btn btn-sm btn-outline-primary" href="https://github.com/byronluk/react-movie-finder/" target="_blank">Github</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="next-project__links right-link">
          <a href="weather-app" class="next-project__link right project-transition">
            <i class="fas fa-caret-right next-project__arrow"></i>
          </a>
        </div>

      </div>
      <% include ../../partials/projects-footer %>
  </div>
</body>

</html>