<!DOCTYPE html>
<html>

<head>
  <title>Projects | Productive</title>
  <% include ../../partials/projects-head %>
</head>

<body>
  <div class="container">
    <% include ../../partials/projects-nav %>
      <div class="middle-container">

        <div class="next-project__links left-link">
          <a href="hot-homes" class="next-project__link left project-transition">
            <i class="fas fa-caret-left next-project__arrow"></i>
          </a>
        </div>

        <div class="main-section project">
          <div>
            <h1>Productive</h1>
            <p>
              My passion project for staying productive!
              <p>
          </div>
          <div class="project-content">
            <div class="images-column">
              <img class="project-image" src="../img/productive/create-habit.png" alt="Screenshot of Write a Letter" />
              <img class="project-image" src="../img/productive/create-habit.png" alt="productive project" />
            </div>
            <div class="content-column">
              <div>
                <h3 class="header">Summary</h3>
                <hr />
                <p>
                  I'm working on a productivity tracker that can keep track of reoccurring habits and one-time todos.
                </p>
              </div>
              <div>
                <h3 class="header">Technologies</h3>
                <p>These are the core technologies and skills I used while working on this project</p>
                <hr />
                <p>
                  I'm using React and Redux for the front-end and using Firebase for my back-end database, data queries, and web hosting. My
                  server is built with Node.js / Express and I am utilizing Flow for static type checking.
                </p>
              </div>
              <div>
                <h3 class="header">Resources</h3>
                <hr />
                <ul class="resources">
                  <li>You can view my progress at
                    <a class="btn btn-sm btn-outline-primary" href="https://productive-483e5.firebaseapp.com/" target="_blank">Productive</a>
                  </li>
                  <li>View my code on
                    <a class="btn btn-sm btn-outline-primary" href="https://github.com/byronluk/productive" target="_blank">Github</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="next-project__links right-link">
          <a href="movie-finder" class="next-project__link right project-transition">
            <i class="fas fa-caret-right next-project__arrow"></i>
          </a>
        </div>

      </div>
      <% include ../../partials/projects-footer %>
  </div>
</body>

</html>