<!DOCTYPE html>
<html>
  <head>
    <title>Projects | Write a Letter</title>
    <% include ../../partials/projects-head %>
  </head>
  <body>
    <div class="container">
      <% include ../../partials/projects-nav %>
      <div class="main-section">
        <h1 class="project-page_title">Weather App</h1>
      </div>
      <% include ../../partials/projects-footer %>
    </div>
  </body>
</html>