<!DOCTYPE html>
<html>

<head>
  <title>Projects | Weather App</title>
  <% include ../../partials/projects-head %>
</head>

<body>
  <div class="container">
    <% include ../../partials/projects-nav %>
      <div class="middle-container">

        <div class="next-project__links left-link">
          <a href="movie-finder" class="next-project__link left project-transition">
            <i class="fas fa-caret-left next-project__arrow"></i>
          </a>
        </div>

        <div class="main-section project">
          <div>
            <h1>Weather App</h1>
            <p>Check the weather in your desired location.</p>
          </div>
          <div class="project-content">
            <div class="images-column">
              <img class="project-image" src="../img/weather-app/color.png" alt="Screenshot of Weather App" />
              <img class="project-image" src="../img/weather-app/history.png" alt="Screenshot of Weather App" />
            </div>
            <div class="content-column">
              <div>
                <h3 class="header">Summary</h3>
                <hr />
                <p>
                  A simple application to check the weather utilizing the Open Weather Map API. A fun feature that I implemented was the search
                  history. When a user searches for a city, a timestamp is created in the history component. Also, buttons
                  are created for the 5 most recent searches allowing a user to easily click and see the weather in that
                  city.
                </p>
              </div>
              <div>
                <h3 class="header">Technologies</h3>
                <p>These are the core technologies and skills I used while working on this project</p>
                <hr />
                <p>
                  React / Redux / HTML5 / CSS3 / Node.js / Express
                </p>
                <p>
                  I dug deeper into Redux in this project and gained a stronger understanding of the flow of actions, reducers, and the store.
                  I was also introduced to Redux promise middleware - when a promise is dispatched from an action creator.
                </p>
              </div>
              <div>
                <h3 class="header">Resources</h3>
                <hr />
                <ul class="resources">
                  <li>You can get a live experience at
                    <a class="btn btn-sm btn-outline-primary" href="https://basic-weather-application.herokuapp.com/" target="_blank">Weather App</a>
                  </li>
                  <li>View my code on
                    <a class="btn btn-sm btn-outline-primary" href="https://github.com/byronluk/redux-weather-application" target="_blank">Github</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="next-project__links right-link">
          <a href="vstda" class="next-project__link right project-transition">
            <i class="fas fa-caret-right next-project__arrow"></i>
          </a>
        </div>

      </div>
      <% include ../../partials/projects-footer %>
  </div>
</body>

</html>