<!DOCTYPE html>
<html>
  <head>
    <title>Projects | Write a Letter</title>
    <% include ../../partials/projects-head %>
  </head>
  <body>
    <div class="container">
      <% include ../../partials/projects-nav %>
      <div class="middle-container">
          <div class="main-section project">
            <div class="project-page__headers">
              <h1 class="project-page_title">Write a Letter</h1>
              <p class="project-page__description">Handwriting Application with spellcheck integration built for a 72-hour  hackathon.
              </p>
            </div>
            <img class="first-image" src="../img/write-letters/write-letters.png" alt="Screenshot of Write a Letter"  />
            <div class="summary-section">
              <h3 class="summary-header">About this project</h3>
              <hr />
              <p class="summary-paragraph">
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. 
              </p>
              <div class="technology-container">
                  <h4 class="technology-section__header">Technologies</h4>
                  <p class="technology-section__description">These are the core technologies and skills I used while working on this project</p>
                  <hr />
                  <ul class="technology-section__technologies">
                    <li class="technology">React</li>
                    <li class="technology">JavaScript</li>
                    <li class="technology">HTML5</li>
                    <li class="technology">CSS3</li>
                  </ul>
                </div>
            </div>
            <p class="project__second-paragraph">
                nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
              </p>
            <img class="second-image" src="../img/write-letters/write-letters.png" alt="Screenshot of Write a Letter"  />                         
            <br />
            <div class="project-page__resources"> 
              <h3 class="resources-title">Resources</h3>
              <hr />
              <ul class="resources">
                <li>You can get a live experience at <a href="https://write-letters-byronluk.herokuapp.com/" target="_blank">Write Letters</a></li>
              </ul>
            </div>
          </div>
          
          <div>
            <a href="vstda" class="next-project__link right project-transition">
              <i class="fas fa-caret-right next-project__arrow"></i>
            </a>
          </div>
  
        </div>
      <% include ../../partials/projects-footer %>
    </div>
  </body>
</html>