html, body {
  height: 100%;
}
body {
  box-sizing: border-box;
  background-color: rgb(32, 32, 32);
  padding: 6px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
}
.container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 80%;
  padding-bottom: 140px;
  position: relative;
  margin-bottom: 0;
}
.nav-bar {
  display: flex;
}
.nav-header {
  font-size: 42px;
  color: black;
  margin-right: 42%;
  border: 3px solid white;
  border-radius: 4px;
  padding: 0 5px 7px 5px;
  height: 40px;
}
a.nav-header:hover {
  background-color: rgb(34, 33, 33);
  color: white;
}
.button {
  display: none;
}
.nav-link {
  font-size: 16px;
  color: black;
  text-decoration: none;
}
.nav-link:hover {
  color: rgb(41, 68, 126);
  text-decoration-line: underline;
}
.footer-section {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin: 6px;
  background-image: linear-gradient(to bottom, white, #353030);
  text-align: center;
}
.footer-links {
  margin-bottom: 10px;
}
.footer-list-item {
  display: inline;
  margin-right: 2px;
}
.fa-circle {
  color: rgb(216, 216, 216);
  font-size: 8px;
  border:0.5px solid rgb(174, 174, 174);
  border-radius: 50%;
}
.fa-circle:hover {
  color: rgb(36, 34, 32);
  border-color: rgb(49, 47, 46);
}
svg.active-link {
  color: rgb(83, 83, 83);
  border:0.5px solid rgb(219, 219, 219);
}
.footer-text {
  font-family: 'Supermercado One', cursive;
  margin-bottom: 20px;
}
.footer-icon {
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-size: 26px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.footer-icon:hover {
  color: rgb(8, 8, 53);
}

@media (max-width: 415px) {
  a.nav-header {
    margin: 10px 45% 10px 5%;
  }
  .visibility-hidden {
    visibility: hidden;
  }
  button.button {
    display: inline-block;
    border: none;
    border-radius: 4px;
    margin: 15px 0 5px 30%;
    padding: 2px 4px;
    background-color: white;
    cursor: pointer;
  }
  button.button:hover {
    background-color: rgb(32, 32, 32);
    color: white;
  }
  .nav-blocks__mini {
    font-size: 32px;
  }
  .nav-links__mini {
    padding-right: 10px;
  }
  .nav-link__mini {
    margin-bottom: 6px;
  }
  .animation-in {
    animation-duration: 3s;
    animation-name: slidein;
  }
  .animation-out {
    animation-duration: 3s;
    animation-name: slideout;
  }
  @keyframes slidein {
    from {
      position: relative;
      bottom: 20px;
      opacity: 0;
    }
  
    to {
      position: relative;
      bottom: 0px;
      opacity: 1;
    }
  }

  @keyframes slideout {
    from {
      position: relative;
      top: 0px;
      opacity: 1;
    }
  
    to {
      position: relative;
      top: 20px;
      opacity: 0;
      visibility: hidden;
    }
  }
  @keyframes slideright {
    from {
      position: relative;
      left: 0px;
      opacity: 0;
    }
  
    to {
      position: relative;
      right: 20px;
      opacity: 1;
    }
  }
  /* page content: media query max 415px */
  div.main-section {
    margin: 5% 5% 0 5%;
  }
  h2.page-title {
  }
  /* contact form: media query max 415px */
  form.contact-form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px 30px 30px 30px 90px 30px;
    margin-bottom: 20px;
  }
  .response-text {
    width: 70%;
  }
  textarea[name=message] {
    grid-column: 1 / span 2;
    margin-bottom: 5px;
  }
  input.submit-button {
    grid-column: 1 / span 2;
  }
}
/* Page content */
@media (min-width: 415px) {
  .nav-list-item {
    display: inline;
    margin-right: 20px;
    font-size: 24px;
  }
  nav.nav-bar {
    padding: 30px 10%;
  }
  .nav-bar__main {
    margin-top: 10px;
  }
  .contact-form {
    display: grid;
    grid-template-columns: 15% 20% 15px 10% 40%;
    grid-template-rows: 40px 40px 40px 40px 30px 30px;
  }
  .firstName-label {
    grid-row: 2 / span 1;
  }
  input[name=firstName] {
    grid-row: 2 / span 1;
  }
  .lastName-label {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  input[name=lastName] {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  .email-label {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  input[name=email] {
    grid-row: 4 / span 1;
  }
  .message-label {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }
  textarea[name=message] {
    grid-column: 4 / span 2;
    grid-row: 2 / span 5;
  }
  textarea.message-input {
    padding: 4px;
  }
  .submit-button {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
  }
  input.input {
    height: 30px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid rgb(172, 161, 161);
  }
}
.nav-link {
}
.main-section {
  margin: 5% 10% 0 10%;
}
.page-title {
  font-size: 28px;
  margin-bottom: 15px;
  font-family: 'Proza Libre', sans-serif;
}
.main-paragraph {
  margin-bottom: 40px;
}
.next-page__link {
  text-decoration: none;
  color: black;
  font-family: 'Supermercado One', cursive;
  margin-left: 55%;
  padding: 2px;
  border: 1px solid white;
}
.next-page__link:hover {
  color: rgb(0, 66, 97);
  border: 1px solid rgb(211, 207, 207);
  box-shadow: 4px 4px 2px 1px rgb(163, 159, 159);
}
.input {
  padding: 2px 4px;
  font-family: 'Proza Libre', sans-serif;
}
.submit-button {
  border-radius: 2px;
  border: 1px solid rgb(207, 201, 188);
  background-color: rgb(231, 224, 208);
  font-family: 'Proza Libre', sans-serif;
  cursor: pointer;
  padding: 2px 8px;
}
.submit-button:hover {
  color: white;
  background-color: rgb(156, 154, 151);
}