/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media (max-width: 370px) {
  div a.img-link {
    margin: 10px 0;
  }
  div a.resume-link {
    font-size: 26px;
  }
  p.contact-info {
    font-size: 14px;
  }
  div div.img-div {
    padding: 0;
  }
  div p.about-paragraph {
    font-size: 13px;
  }
}
@media (max-width: 415px) {
  /* specific page targets ------------------------------------*/
  .about-page,
  .contact-page {
    height: 100%;
  }
  /* generic page content ----------------------------------- */
  html body {
    height: auto;
  }
  a.next-page__link {
    display: inline-block;
    margin-bottom: 20px;
  }
  /* nav-bar ----------------------------------------------------- */
  a.nav-header {
    margin: 10px 45% 10px 5%;
  }
  .visibility-hidden {
    visibility: hidden;
  }
  button.button {
    display: inline-block;
    border: none;
    border-radius: 4px;
    margin: 15px 0 5px 30%;
    padding: 2px 4px;
    background-color: white;
    cursor: pointer;
  }
  button.button:hover {
    background-color: #202020;
    color: white;
  }
  .nav-blocks__mini {
    font-size: 32px;
  }
  .nav-links__mini {
    padding-right: 10px;
  }
  .nav-link__mini {
    margin-bottom: 6px;
  }
  .animation-in {
    animation-duration: 3s;
    animation-name: slidein;
  }
  .animation-out {
    animation-duration: 3s;
    animation-name: slideout;
  }
  @keyframes slidein {
    from {
      position: relative;
      bottom: 20px;
      opacity: 0;
    }
    to {
      position: relative;
      bottom: 0px;
      opacity: 1;
    }
  }
  @keyframes slideout {
    from {
      position: relative;
      top: 0px;
      opacity: 1;
    }
    to {
      position: relative;
      top: 20px;
      opacity: 0;
      visibility: hidden;
    }
  }
  @keyframes slideright {
    from {
      position: relative;
      left: 0px;
      opacity: 0;
    }
    to {
      position: relative;
      right: 20px;
      opacity: 1;
    }
  }
  /* end nav-bar css ---------------------------------------------*/
  /* index.ejs - home-page min-device-width: 415px -----------------------------------*/
  div.image-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
  }
  .me-image {
    width: 100%;
    height: auto;
    margin: 10px 0 20px 0;
    grid-column: 1 / span 2;
  }
  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  div.extra-links {
    flex-flow: column;
    margin-bottom: 20%;
  }
  p.contact-info {
    margin-bottom: 15px;
  }
  div a.next-page__link[href="/portfolio"] {
    align-self: flex-end;
    font-size: 26px;
  }
  /* portfolio page ---------------------------------------------------------------- */
  div.img-div {
    padding-left: 0;
  }
  div.angle-container {
    display: none;
  }
  div.img-div {
    display: flex;
    flex-direction: column;
  }
  div.projects-container div.project_container {
    display: block;
    margin: 10px 0 10px 0;
  }
  img.project-img {
    width: 98%;
    height: 32vh;
    min-height: 200px;
  }
  div.img-description {
    overflow: scroll;
  }
  a.project-description__link {
    margin-bottom: 15px;
  }
  div.project_container:hover .img-description {
    height: 85%;
  }
  /* page content: media query max-width 415px -----------------------------------------------*/
  div.main-section {
    margin: 20px 10px;
  }
  /* contact form: media query max-width 415px ------------------------------------------*/
  form.contact-form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px 30px 30px 30px 90px 30px;
    margin-bottom: 150px;
  }
  .response-text {
    width: 70%;
  }
  textarea[name=message] {
    grid-column: 1 / span 2;
    margin-bottom: 5px;
  }
  input.submit-button {
    grid-column: 1 / span 2;
  }
  a.img-link {
    margin: 10px 2px;
  }
  div.img-div {
    padding: 0 10px 0 4%;
  }
  p.about-paragraph {
    width: 100%;
    font-size: 14px;
  }
  /* projects-page: media query max-width 415px ------------------------------------------*/
  div.middle-container {
    padding: 0 6px;
  }
  div.main-section.project {
    flex-flow: column nowrap;
    width: 95%;
    margin: 0 10px;
  }
  div.project img {
    width: 100%;
    height: 250px;
    margin: 10px 0 30px 0;
  }
  div.summary-section {
    width: 100%;
  }
  p.summary-paragraph {
    margin-bottom: 20px;
  }
  div.technology-container {
    margin: 0;
  }
  p.project__second-paragraph {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
  div.project-page__resources {
    width: 100%;
    margin-bottom: 20px;
  }
  div.next-project__links {
    position: fixed;
  }
  div.next-project__links.right-link {
    right: 0;
  }
  a.next-project__link {
    color: #605c50b3;
  }
  svg.next-project__arrow {
    margin: 0;
    font-size: 75px;
  }
}
html,
body {
  height: 100%;
  max-width: 100%;
}
body {
  box-sizing: border-box;
  background-color: #202020;
  padding: 6px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.container {
  background-color: #ffffff;
  width: 100%;
  min-height: 80%;
  padding-bottom: 140px;
  position: relative;
  margin-bottom: 0;
}
/* nav-bar --------------------------------------------------------*/
.nav-bar {
  display: flex;
}
.nav-header {
  font-size: 42px;
  color: black;
  margin-right: 42%;
  border: 3px solid white;
  border-radius: 4px;
  padding: 0 5px 7px 5px;
  height: 40px;
}
a.nav-header:hover {
  background-color: #222121;
  color: white;
}
.button {
  display: none;
}
.nav-link {
  font-size: 16px;
  color: black;
  padding: 2px;
  text-decoration: none;
  border: 1px solid white;
}
.nav-link:hover {
  color: #29447e;
  border: 1px solid #efefef;
  box-shadow: 2.5px 2.5px 2px 2px #a39f9f;
  padding: 2px;
}
/* generic page content ------------------------------------------------------------*/
.main-section {
  margin: 0 5%;
}
.main-section.front-page {
  margin: 0 20px;
}
.page-title {
  font-size: 28px;
  margin-bottom: 15px;
  font-family: 'Proza Libre', sans-serif;
}
.next-page__link {
  text-decoration: none;
  color: black;
  font-family: 'Supermercado One', cursive;
  margin-left: 55%;
  height: 20px;
  padding: 2px;
  border: 1px solid white;
}
.next-page__link:hover {
  color: #004261;
  border: 1px solid #d3cfcf;
  box-shadow: 4px 4px 2px 1px #a39f9f;
}
/* footer-section -----------------------------------------------------*/
.footer-section {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin: 6px;
  background-image: linear-gradient(to bottom, white, #353030);
  text-align: center;
}
.footer-links {
  margin-bottom: 10px;
}
.footer-list-item {
  display: inline;
  margin-right: 2px;
}
.fa-circle {
  color: #d8d8d8;
  font-size: 8px;
  border: 0.5px solid #aeaeae;
  border-radius: 50%;
}
.fa-circle:hover {
  color: #242220;
  border-color: #312f2e;
}
svg.active-link {
  color: #535353;
  border: 0.5px solid #dbdbdb;
}
.footer-text {
  font-family: 'Supermercado One', cursive;
  margin-bottom: 20px;
}
.footer-icon {
  color: #e2e2e2;
  text-decoration: none;
  font-size: 26px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.footer-icon:hover {
  color: #080835;
}
/* index.ejs all screen sizes----------------------------------------------------- */
.resume-link {
  font-family: 'Supermercado One', cursive;
  font-size: 32px;
  color: black;
  text-decoration: none;
  float: left;
  margin: 0 20% 0 5%;
}
.resume-link:hover {
  color: #68688a;
}
.contact-info {
  line-height: 1.2;
  text-align: center;
}
a.next-page__link[href="/portfolio"] {
  margin: 0 20% 0 0;
  padding: 5px;
  font-size: 32px;
  height: 40px;
}
.main-paragraph {
  margin-bottom: 20px;
}
.skills-container {
  margin-bottom: 25px;
}
.skills-container__label {
  font-size: 24px;
  font-family: 'Proza Libre', sans-serif;
  margin-bottom: 8px;
}
.skill-label {
  height: 25px;
}
.progress-bar__container {
  height: 25px;
}
.extra-links {
  display: flex;
  justify-content: flex-end;
}
/*progress-bars -----------------------------------------------------*/
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: #565666;
  width: 150px;
  height: 15px;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-color: #565666;
}
progress[value]::-moz-progress-bar {
  background-color: #565666;
}
/* fallback for progress bar */
.progress-bar {
  background-color: whiteSmoke;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  width: 250px;
  height: 20px;
  position: relative;
  display: block;
}
.progress-bar > span {
  background-color: blue;
  border-radius: 2px;
  display: block;
  text-indent: -9999px;
}
.nav-list-item {
  display: inline;
  margin-right: 20px;
  font-size: 24px;
}
/* portfolio content no media query -carousel -----------------------------------------------------*/
.page-title.portfolio {
  margin-left: 5%;
}
.projects-container {
  margin-bottom: 10px;
}
.project_container {
  margin: 10px 20px 10px 0;
  position: relative;
}
.project-img {
  width: 50vw;
  min-width: 135px;
  height: 30vw;
  min-height: 100px;
  border: 1px solid silver;
  border-radius: 2px;
}
/* hover transition for img-description */
.img-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4d526cb8;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 15px;
  /* transition effect. not necessary */
  transition: opacity .8s, visibility .5s, height 1s;
}
.project_container:hover .img-description {
  visibility: visible;
  opacity: 1;
  height: 90%;
  box-shadow: 1.5px 2px 2px 4px #ada7a7;
}
.project-title {
  font-family: 'Proza Libre', sans-serif;
  font-size: 24px;
}
.project-description {
  line-height: 1.2;
  margin-bottom: 20px;
}
.project-description__link {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #89baba52;
  padding: 6px;
  border-radius: 2px;
  transition: transform 1.5s;
  text-align: center;
}
.project-description__link:hover {
  box-shadow: 1px 1px 2px 2.5px #4f787852;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}
/* end hover content for projects */
.display-none {
  display: none;
}
.projects-button__carousel {
  font-size: 32px;
}
.projects-button__carousel:hover {
  color: gray;
  cursor: pointer;
}
.angle-container {
  padding-left: 25%;
}
#right {
  margin-right: 20%;
}
/* animations for portfolio/projects */
.slide-left {
  animation: slideleft 2s;
}
.slide-right {
  animation: slideright 2s;
}
.slide-left_out {
  animation: fadeout 2.5s, slideleft 2.5s;
}
.slide-left_in {
  animation: fadein 2.5s, slideleft 2.5s;
}
.slide-right_in {
  animation: fadein 2.5s, slideright 2.5s;
}
.slide-right_out {
  animation: fadeout 2.5s, slideright 2.5s;
}
@keyframes slideleft {
  from {
    position: relative;
    right: 0;
  }
  to {
    position: relative;
    right: 65%;
  }
}
@keyframes slideright {
  from {
    position: relative;
    right: 62%;
  }
  to {
    position: relative;
    right: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* projects page no media query -----------------------------------------------------*/
.next-project__arrow {
  font-size: 100px;
  margin-top: 150px;
}
.next-project__arrow:hover {
  color: #29447e;
}
.next-project__link {
  display: block;
  text-decoration: none;
  color: black;
}
.middle-container {
  display: flex;
}
.main-section.project {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
}
.project-page__headers {
  width: 100%;
}
.project-page_title {
  font-family: 'Proza Libre', sans-serif;
  font-size: 24px;
  margin-bottom: 5px;
}
.project-page__description {
  margin-bottom: 25px;
}
.summary-section {
  width: 50%;
}
.summary-header {
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.project__second-container {
  width: 50%;
}
.project__second-paragraph {
  width: 100%;
  margin: 20px 20px 20px 0;
}
.project img {
  width: 450px;
  height: 250px;
  box-shadow: 2.5px 2.5px 3px 3.5px #8a8a8a;
  display: block;
  margin: 20px 40px 0 10px;
}
.technology-container {
  width: 100%;
  margin: 20px 40px 40px 0;
}
.technology-section__header {
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.technology-section__description {
  font-family: 'Proza Libre', sans-serif;
  font-size: 14px;
}
.technology-section__technologies {
  list-style-type: circle;
  padding-left: 20%;
}
.project-page__resources {
  width: 100%;
}
.resources-title {
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
/* about-me.ejs no media query -----------------------------------------------------*/
.about-paragraph {
  margin-bottom: 20px;
  width: 80%;
  line-height: 1.2;
}
/* contact.ejs no media query ----------------------------------------------------- */
.input {
  padding: 2px 4px;
  font-family: 'Proza Libre', sans-serif;
}
.submit-button {
  border-radius: 2px;
  border: 1px solid #cfc9bc;
  background-color: #e7e0d0;
  font-family: 'Proza Libre', sans-serif;
  cursor: pointer;
  padding: 2px 8px;
}
.submit-button:hover {
  color: white;
  background-color: #9c9a97;
}
/* Page content */
@media (min-width: 415px) {
  /* nav-bar min width 415px -----------------------------------------------------*/
  nav.nav-bar {
    padding: 30px 10%;
  }
  .nav-bar__main {
    margin-top: 10px;
  }
  /* index.ejs min width 415px -----------------------------------------------------*/
  .front-page {
    display: flex;
  }
  .image-section {
    width: 40%;
  }
  .me-image {
    width: 100%;
    margin-bottom: 20px;
  }
  .me-description {
    padding: 0 20px 0 30px;
    line-height: 1.2;
    width: 70%;
  }
  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  /* contact page min width 415 px -----------------------------------------------------*/
  .contact-form {
    display: grid;
    grid-template-columns: 15% 20% 15px 10% 40%;
    grid-template-rows: 40px 40px 40px 40px 30px 30px;
    margin-bottom: 20px;
  }
  .firstName-label {
    grid-row: 2 / span 1;
  }
  input[name=firstName] {
    grid-row: 2 / span 1;
  }
  .lastName-label {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  input[name=lastName] {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  .email-label {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  input[name=email] {
    grid-row: 4 / span 1;
  }
  .message-label {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }
  textarea[name=message] {
    grid-column: 4 / span 2;
    grid-row: 2 / span 5;
  }
  textarea.message-input {
    padding: 4px;
  }
  .submit-button {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
  }
  input.input {
    height: 30px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #aca1a1;
  }
  .response-text {
    margin-left: 30%;
  }
  /* portfolio.ejs min width 415px -----------------------------------------------------*/
  .img-div {
    display: flex;
    padding-left: 10%;
  }
}
/* end media query min width 415 px */
@media (min-width: 1920px) {
  .project_container:hover .img-description {
    height: 94%;
  }
}
@media screen and (min-height: 720px) {
  /* generic page content media query 720px min height*/
  .container {
    height: 81%;
  }
}
@media screen and (min-height: 1000px) {
  /* generic page content media query 1000px min height */
  .container {
    height: 90%;
  }
}
