<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body>
    <script type="text/javascript">
      $("body").css({"opacity": "0", "width": "0"});
    </script>
    <div class="container">
      <% include ../partials/nav %>

      <div class="main-section">
        <h2 class="page-title">About Me</h1>
        <p class="about-paragraph">
          Hello, nice to meet you! My name's Byron and I'm a JavaScript developer based in San Diego. I enjoy building interactive web applications using React and Express. The icing on the cake is when I get to make my projects come to life with CSS. 
        </p>
        <p class="about-paragraph">
          I have a strong passion towards learning and critical thinking, so picking up that new framework wouldn't be a problem. As I grow as a programmer, what's next on my bucket list is Data Visualization and Machine Learning. I'm aspiring to create an immersive user experience by integrating machine learning and data analysis with web development.
        </p>
      </div>
      <a class="next-page__link" href="/contact">Get in touch <i class="fas fa-long-arrow-alt-right"></i></a>
      <% include ../partials/footer %>
    </div>
  </body>
</html>