<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body>
    <div class="container">
      <% include ../partials/nav %>

      <div class="main-section">
        <h2 class="page-title">About Me</h1>
      </div>
      <a class="next-page__link" href="/contact">Get in touch <i class="fas fa-long-arrow-alt-right"></i></a>
      <% include ../partials/footer %>
    </div>
  </body>
</html>