<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body>
    <div class="container">
      <% include ../partials/nav %>
      <div class="main-section">
      <h2 class="page-title">Get in Touch</h2>
        <form class="contact-form" action="/contact" method="POST">
          <label for="firstName" class="firstName-label">First Name:</label>
          <input id="firstName" name="firstName" type="text" class="input">

          <label for="lastName" class="lastName-label">Last Name:</label>
          <input id="lastName" name="lastName" type="text" class="input">

          <label for="email" class="email-label">Email:</label>
          <input id="email" name="email" type="text" class="input">

          <label for="emailContent" class="message-label">Message:</label>
          <textarea id="emailContent" name="message" class="input message-input"></textarea>

          <input type="submit" class="submit-button" id="submit-button" value="Send Email" />
        </form>
        <% if (mailSent) { %>
          <div class="response-text">Thanks for the mail, 
            <%= firstName%>. 
            I'll get back to you soon.
          </div>
        <% } %>
      </div>

      <% include ../partials/footer %>
    </div>
  </body>
</html>