<!DOCTYPE html>
<% include ../partials/head %>

<body>
  <% include ../partials/nav %>

  <div>
    <h1>I am <%= person.firstName %> <%= person.lastName %></h1>
  </div>

  <% include ../partials/footer %>
</body>