<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body class="animate-in">
    <div class="container">
      <% include ../partials/nav %>

      <div class="main-section">
        <h2 class="main-title">Hey I'm Byron, a front end web developer.</h2>
        <p class="main-paragraph">Plus some experience with Node.js and other back-end stuff</p>
      </div>

      <% include ../partials/footer %>
    </div>
  </body>
</html>