<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body>
    <div class="container">
      <% include ../partials/nav %>

      <div class="main-section front-page">
        <div class="image-section">
          <img src="../../img/background.JPG" alt="image of me and my wife" class="me-image" />
          <a class='resume-link' href='../../img/Byron-Luk.pdf' target='_blank'>Resume</a>
          <p class="contact-info">(626)383-2721 <br> byronluk@gmail.com</p>
        </div>
        <div class="me-description">
          <h2 class="page-title">Hey I'm Byron, a JavaScript developer.</h2>
          <p class="main-paragraph">My bread and butter for building web applications are React/Redux and Express. However, my passion for programming always has me excited and eager to learn that new language, framework, or library that you need.</p>
        
          <h3 class="skills-container__label">Skills: </h3>
          <div class="skills-container">
            <p class="skill-label">HTML/CSS:</p>
            <div class="progress-bar__container">
              <progress class="legit-progress-bar" max="100" value="80">
                <div class="progress-bar">
                  <span style="width: 80%;">Progress: 80%</span>
                </div>
              </progress>
            </div>

            <p class="skill-label">Redux: </p>    
            <div class="progress-bar__container">                
              <progress class="legit-progress-bar" max="100" value="50">
                <div class="progress-bar">
                  <span style="width: 50%;">Progress: 50%</span>
                </div>
              </progress>
             </div>
             
            <p class="skill-label">JavaScript: </p> 
            <div class="progress-bar__container">
              <progress class="legit-progress-bar" max="100" value="80">
                <div class="progress-bar">
                  <span style="width: 80%;">Progress: 80%</span>
                </div>
              </progress>
            </div>

            <p class="skill-label">MongoDB: </p>          
            <div class="progress-bar__container">            
              <progress class="legit-progress-bar" max="100" value="40">
                <div class="progress-bar">
                  <span style="width: 40%;">Progress: 40%</span>
                </div>
              </progress>
            </div>
             
            <p class="skill-label">JQuery: </p>        
            <div class="progress-bar__container">
              <progress class="legit-progress-bar" max="100" value="70">
                <div class="progress-bar">
                  <span style="width: 70%;">Progress: 70%</span>
                </div>
              </progress>
            </div>

            <p class="skill-label">MySQL:  </p>
            <div class="progress-bar__container">
              <progress class="legit-progress-bar" max="100" value="40">
                <div class="progress-bar">
                  <span style="width: 40%;">Progress: 40%</span>
                </div>
              </progress>
            </div>
             
            <p class="skill-label">Node.js: </p>
            <div class="progress-bar__container">            
              <progress class="legit-progress-bar" max="100" value="50">
                <div class="progress-bar">
                  <span style="width: 50%;">Progress: 50%</span>
                </div>
              </progress>
            </div>

            <p class="skill-label">LESS: </p>       
            <div class="progress-bar__container">
              <progress class="legit-progress-bar" max="100" value="50">
                <div class="progress-bar">
                  <span style="width: 50%;">Progress: 50%</span>
                </div>
              </progress>
            </div>
             
            <p class="skill-label">Express: </p>          
            <div class="progress-bar__container">            
             <progress class="legit-progress-bar" max="100" value="60">
                <div class="progress-bar">
                  <span style="width: 60%;">Progress: 60%</span>
                </div>
              </progress>
            </div>

            <p class="skill-label">Webpack: </p>         
            <div class="progress-bar__container">
              <progress class="legit-progress-bar" max="100" value="60">
                <div class="progress-bar">
                  <span style="width: 60%;">Progress: 60%</span>
                </div>
              </progress>
            </div>
                          
            <p class="skill-label">React: </p>
            <div class="progress-bar__container">            
              <progress class="legit-progress-bar" max="100" value="70">
                <div class="progress-bar">
                  <span style="width: 70%;">Progress: 70%</span>
                </div>
              </progress>
            </div>
              
            <p class="skill-label">Python: </p>        
            <div class="progress-bar__container">            
              <progress class="legit-progress-bar" max="100" value="15">
                <div class="progress-bar">
                  <span style="width: 15%;">Progress: 15%</span>
                </div>
              </progress>
            </div>
          </div>
          <div class="extra-links">
            <a class="next-page__link portfolio-link" href="/portfolio">
              See my work
              <i class="fas fa-long-arrow-alt-right"></i>
            </a>
          </div>
        </div>
      </div>
      <% include ../partials/footer %>
    </div>
  </body>
</html>