<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body>
    <div class="container">
      <% include ../partials/nav %>

      <div class="main-section">
        <h2 class="page-title">Hey I'm Byron, a front-end web developer.</h2>
        <p class="main-paragraph">I have experience ranging from HTML and CSS to building web applications with React and Express.</p>
      </div>
      <a class="next-page__link" href="/portfolio">See my work  <i class="fas fa-long-arrow-alt-right"></i></a>
      <% include ../partials/footer %>
    </div>
  </body>
</html>