<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <div class="container">
      <% include ../partials/nav %>

      <div class="main-section">
        <h2 class="page-title">My Portfolio</h2>
        <div class="img-div" id="projects-container">
          <a href="https://bl-change-calculator.herokuapp.com/" target="_blank" class="img-link">
            <img class="project-img" src="img/change-calculator.png" alt="React Change Calculator">
          </a>
          <a href="https://bl-san-diego-top-spots.herokuapp.com/" target="_blank" class="img-link">
            <img class="project-img" src="img/sd-top-spots.png" alt="SD Top 30 Spots">
          </a>
          <a href="https://bl-vstda.herokuapp.com/" target="_blank" class="img-link">
            <img class="project-img" src="img/vstda.png" alt="React Simple Todo App">
          </a>
          <a href="https://bl-mortgage-calculator.herokuapp.com/" target="_blank" class="img-link">
            <img class="project-img" src="img/mortgage-calculator.png" alt="React Mortgage Calculator">
          </a>
          <a href="https://write-letters-byronluk.herokuapp.com/" target="_blank" class="img-link display-none">
            <img class="project-img" src="img/write-letters.png" alt="React Write Letters">
          </a>
          <div class="carousel-nav">
            <i class="fas fa-circle"></i>
            <i class="fas fa-circle"></i>
          </div>
        </div>
      </div>
      <a class="next-page__link" href="/about">Read about me <i class="fas fa-long-arrow-alt-right"></i></a>
      <% include ../partials/footer %>
    </div>
  </body>
</html>