<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <div class="container">
      <% include ../partials/nav %>

      <div class="main-section">
        <h2 class="page-title">My Portfolio</h2>
      </div>
      <a class="next-page__link" href="/about">Read about me <i class="fas fa-long-arrow-alt-right"></i></a>
      <% include ../partials/footer %>
    </div>
  </body>
</html>