<!DOCTYPE html>
<html>
<% include ../partials/head %>

  <body>
    <div class="container">
      <% include ../partials/nav %>
        <div class="main-section">
          <h2 class="portfolio page-title">My Portfolio</h2>
          <div class="img-div projects-container" id="projects-container">

            <div class="project_container">
              <img class="project-img" src="img/portal/home-nocolor.png" alt="Carousel Project Image">
              <div class="img-description">
                <h3 class="project-title">Portal</h3>
                <hr class="project-title__line" />
                <p class="project-description">
                  Basically, a Hired.com + Portfolium for bootcamp graduates.
                  <br />
                  <br /> Our goal was to create a minimal viable product where multiple types of users can sign up, students can
                  edit their profile, and student profile's were easily searchable.
                  <br />
                  <br /> Built with React, Redux, React-Router, Loopback, MongoDB, and Bootstrap.
                </p>
                <a href="portfolio/portal" class="project-description__link transition">
                  More Details
                </a>
              </div>
            </div>

            <div class="project_container display-none">
              <img class="project-img" src="img/vstda.png" alt="Carousel Project Image">
              <div class="img-description">
                <h3 class="project-title">Hot Homes</h3>
                <hr class="project-title__line" />
                <p class="project-description">
                  1 week project in an attempt to clone AirBnb.
                  <br />
                  <br /> Allows tenants or landlords to sign up and post listings, find rentals, and rent properties.
                  <br />
                  <br /> Utilized React, Redux, React-Router, Loopback, MongoDB, and Bulma.
                </p>
                <a href="portfolio/hot-homes" class="project-description__link transition">
                  More Details
                </a>
              </div>
            </div>

            <div class="project_container display-none">
              <img class="project-img" src="img/productive/create-habit.png" alt="Carousel Project Image">
              <div class="img-description">
                <h3 class="project-title">Productive</h3>
                <hr class="project-title__line" />
                <p class="project-description">
                  Productivity Tracker that I'm currently building as a passion project to track daily habits and todos.
                  <br />
                  <br /> I'm using React, Redux, Flow, and Firebase.</p>
                <a href="portfolio/productive" class="project-description__link transition">
                  More Details
                </a>
              </div>
            </div>

            <div class="project_container display-none">
              <img class="project-img" src="img/movie-finder/search-gray.png" alt="Carousel project image">
              <div class="img-description">
                <h3 class="project-title">Movie Finder</h3>
                <hr class="project-title__line" />
                <p class="project-description">
                  Movie Finder utilizing OMDB's API for movie search and details.
                  <br />
                  <br /> Built with React, Redux, React-Router, Node.js, Express, and CSS.
                </p>
                <a href="portfolio/movie-finder" class="project-description__link transition">
                  More Details
                </a>
              </div>
            </div>

            <div class="project_container display-none">
              <img class="project-img" src="img/weather-app.png" alt="Weather Application">
              <div class="img-description">
                <h3 class="project-title">Weather App</h3>
                <hr class="project-title__line" />
                <p class="project-description"></p>
                <a href="portfolio/weather-app" class="project-description__link transition">
                  More Details
                </a>
              </div>
            </div>

            <div class="project_container display-none">
              <img class="project-img" src="img/vstda.png" alt="React Simple Todo App">
              <div class="img-description">
                <h3 class="project-title">Very Simple Todo App</h3>
                <hr class="project-title__line" />
                <p class="project-description"></p>
                <a href="portfolio/vstda" class="project-description__link transition">
                  More Details
                </a>
              </div>
            </div>

            <div class="project_container display-none">
              <img class="project-img" src="img/write-letters/write-letters.png" alt="React Simple Todo App">
              <div class="img-description">
                <h3 class="project-title">Write A Letter</h3>
                <hr class="project-title__line" />
                <p class="project-description"></p>
                <a href="portfolio/write-letters" class="project-description__link transition">
                  More Details
                </a>
              </div>
            </div>

            <div class="project_container display-none">
              <img class="project-img" src="img/change-calculator.png" alt="React Change Calculator">
              <div class="img-description">
                <h3 class="project-title">Change Calculator</h3>
                <hr class="project-title__line" />
                <p class="project-description"></p>
                <a href="portfolio/change-calculator" class="project-description__link transition">
                  More Details
                </a>
              </div>
            </div>

            <div class="project_container display-none">
              <img class="project-img" src="img/sd-top-spots.png" alt="SD Top 30 Spots">
              <div class="img-description">
                <h3 class="project-title">San Diego Top Spots</h3>
                <hr class="project-title__line" />
                <p class="project-description"></p>
                <a href="portfolio/sd-top-spots" class="project-description__link transition">
                  More Details
                </a>
              </div>
            </div>

            <div class="project_container display-none">
              <img class="project-img" src="img/mortgage-calculator.png" alt="React Mortgage Calculator">
              <div class="img-description">
                <h3 class="project-title">Mortgage Calculator</h3>
                <hr class="project-title__line" />
                <p class="project-description"></p>
                <a href="portfolio/mortgage-calculator" class="project-description__link transition">
                  More Details
                </a>
              </div>
            </div>
          </div>

          <div class="angle-container">
            <span id="right" class="projects-button__carousel">
              <i class="fas fa-angle-left"></i>
            </span>
            <span id="left" class="projects-button__carousel">
              <i class="fas fa-angle-right"></i>
            </span>
          </div>
          <a class="next-page__link" href="/about">Read about me
            <i class="fas fa-long-arrow-alt-right"></i>
          </a>
          <% include ../partials/footer %>
        </div>
    </div>
  </body>

</html>