<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <div class="container">
      <% include ../partials/nav %>

      <h1>My Portfolio</h1>

      <% include ../partials/footer %>
    </div>
  </body>
</html>