<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <div class="container">
      <% include ../partials/nav %>
      <div class="main-section">
        <h2 class="portfolio page-title">My Portfolio</h2>
        <div class="img-div projects-container" id="projects-container">

          <div class="project_container">
            <img class="project-img" src="img/write-letters.png" alt="React Write Letters">

            <div class="img-description">
              <h3 class="project-title">Write a Letter</h3>
              <hr class="project-title__line" />
              <p class="project-description"></p>
              <a href="portfolio/write-letters" class="project-description__link transition">
                Click to read more!
              </a>
            </div>
          </div>

          <div class="project_container display-none">
            <img class="project-img" src="img/vstda.png" alt="React Simple Todo App">
            <div class="img-description">
              <h3 class="project-title">Very Simple Todo App</h3>
              <hr class="project-title__line" />   
              <p class="project-description"></p>
              <a href="portfolio/vstda" class="project-description__link transition" >
                Click to read more!
              </a>           
            </div>            
          </div>

          <div class="project_container display-none">
            <img class="project-img" src="img/change-calculator.png" alt="React Change Calculator">
            <div class="img-description">
              <h3 class="project-title">Change Calculator</h3>
              <hr class="project-title__line" />   
              <p class="project-description"></p>
              <a href="portfolio/change-calculator" class="project-description__link transition">
                Click to read more!
              </a>           
            </div>
          </div>

          <div class="project_container display-none">
            <img class="project-img" src="img/sd-top-spots.png" alt="SD Top 30 Spots">
            <div class="img-description">
              <h3 class="project-title">San Diego Top Spots</h3>
              <hr class="project-title__line" />
              <p class="project-description"></p>
              <a href="portfolio/sd-top-spots" class="project-description__link transition">
                Click to read more!
              </a>           
            </div>            
          </div>

          <div class="project_container display-none">
            <img class="project-img" src="img/mortgage-calculator.png" alt="React Mortgage Calculator">
            <div class="img-description">
              <h3 class="project-title">Mortgage Calculator</h3>
              <hr class="project-title__line" />
              <p class="project-description"></p>
              <a href="portfolio/mortgage-calculator" class="project-description__link transition">
                Click to read more!
              </a>
            </div>            
          </div>
        </div>

        <div class="angle-container">
          <span id="right" class="projects-button__carousel">
              <i class="fas fa-angle-left"></i>
          </span>
          <span id="left" class="projects-button__carousel">
            <i class="fas fa-angle-right"></i>
          </span>
        </div>
      </div>
      <a class="next-page__link" href="/about">Read about me <i class="fas fa-long-arrow-alt-right"></i></a>
      <% include ../partials/footer %>
    </div>
  </body>
</html>