@media (max-width: 370px) {
  div a.img-link {
    margin: 10px 0;
  }
  div div.img-div {
    padding: 0;
  }
  div p.about-paragraph {
    font-size: 13px;
  }
}
@media (max-width: 415px) {
  /* specific page targets ------------------------------------*/
  .about-page, .contact-page {
    height: 100%;
  }
  /* generic page content ----------------------------------- */
  html body {
    height: auto;
  }
  a.next-page__link {
    display: inline-block;
    margin-bottom: 20px;
  }
  /* nav-bar ----------------------------------------------------- */
  a.nav-header {
    margin: 10px 45% 10px 5%;
  }
  .visibility-hidden {
    visibility: hidden;
  }
  button.button {
    display: inline-block;
    border: none;
    border-radius: 4px;
    margin: 15px 0 5px 30%;
    padding: 2px 4px;
    background-color: white;
    cursor: pointer;
  }
  button.button:hover {
    background-color: rgb(32, 32, 32);
    color: white;
  }
  .nav-blocks__mini {
    font-size: 32px;
  }
  .nav-links__mini {
    padding-right: 10px;
  }
  .nav-link__mini {
    margin-bottom: 6px;
  }
  .animation-in {
    animation-duration: 3s;
    animation-name: slidein;
  }
  .animation-out {
    animation-duration: 3s;
    animation-name: slideout;
  }
  @keyframes slidein {
    from {
      position: relative;
      bottom: 20px;
      opacity: 0;
    }
    
    to {
      position: relative;
      bottom: 0px;
      opacity: 1;
    }
  }
  
  @keyframes slideout {
    from {
      position: relative;
      top: 0px;
      opacity: 1;
    }
    
    to {
      position: relative;
      top: 20px;
      opacity: 0;
      visibility: hidden;
    }
  }
  @keyframes slideright {
    from {
      position: relative;
      left: 0px;
      opacity: 0;
    }
    
    to {
      position: relative;
      right: 20px;
      opacity: 1;
    }
  }
  /* end nav-bar css ---------------------------------------------*/
  /* index.ejs - home-page min-device-width: 415px -----------------------------------*/
  .me-image {
    width: 100%;
  height: auto;
  margin: 10px 0 20px 0;
  }
  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  div.extra-links {
    flex-flow: column;
    margin-bottom: 20%;
  }
  a.resume-link {
    margin-bottom: 10px;
  }
  p.contact-info {
    margin-bottom: 15px;
  }
  a.next-page__link[href="/portfolio"] {
    align-self: flex-end;
  }
  /* portfolio page ---------------------------------------------------------------- */
  div.img-div {
    padding-left: 0;
  }
  div.angle-container {
    display: none;
  }
  div.img-div {
    display: flex;
    flex-direction: column;
  }
  div.projects-container div.project_container {
    display: block;
    margin: 10px 0 10px 0;
  }
  img.project-img {
    width: 98%;
    height: 32vh;
    min-height: 200px;
  }
  div.img-description {
    overflow: scroll;
  }
  a.project-description__link {
    margin-bottom: 15px;
  }
  div.project_container:hover .img-description {
    height: 85%;
  }

  /* page content: media query max-width 415px -----------------------------------------------*/
  div.main-section {
    margin: 20px 10px;
  }
  
  /* contact form: media query max-width 415px ------------------------------------------*/
  form.contact-form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px 30px 30px 30px 90px 30px;
    margin-bottom: 150px;
  }
  .response-text {
    width: 70%;
  }
  textarea[name=message] {
    grid-column: 1 / span 2;
    margin-bottom: 5px;
  }
  input.submit-button {
    grid-column: 1 / span 2;
  }
  a.img-link {
    margin: 10px 2px;
  }
  div.img-div {
    padding: 0 10px 0 4%;
  }
  p.about-paragraph {
    width: 100%;
    font-size: 14px;
  }
  /* projects-page: media query max-width 415px ------------------------------------------*/
  div.middle-container {
    padding: 0 6px
  }
  div.main-section.project {
    flex-flow: column nowrap;
    width: 95%;
    margin: 0 10px;
  }
  div.project img {
    width: 100%;
    height: 250px;
    margin: 10px 0 30px 0;
  }
  div.summary-section {
    width: 100%;
  }
  p.summary-paragraph {
    margin-bottom: 20px;
  }
  div.technology-container {
    margin: 0;
  }
  p.project__second-paragraph {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
  div.project-page__resources {
    width: 100%;
    margin-bottom: 20px;
  }

  div.next-project__links {
    position: fixed;
  }
  div.next-project__links.right-link {
    right: 0;
  }
  a.next-project__link {
    color: #605c50b3;
  }
  svg.next-project__arrow {
    margin: 0;
    font-size: 75px;
  }
}