/* portfolio content no media query -carousel -----------------------------------------------------*/
.page-title.portfolio {
  margin-left: 5%;
}
.projects-container {
  margin-bottom: 10px;
}
.project_container {
  margin: 10px 20px 10px 0;
  position: relative;
}
.project-img {
  width: 50vw;
  min-width: 135px;
  height: 30vw;
  min-height: 100px;
  border: 1px solid silver;
  border-radius: 2px;
}
/* hover transition for img-description */
.img-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4d526cb8;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 15px;
  /* transition effect. not necessary */
  transition: opacity 0.8s, visibility 0.5s, height 1s;
}
.project_container:hover .img-description {
  visibility: visible;
  opacity: 1;
  height: 90%;
  box-shadow: 1.5px 2px 2px 4px rgb(173, 167, 167);
}
.project-title {
  font-family: 'Proza Libre', sans-serif;
  font-size: 24px;
}
.project-description {
  line-height: 1.2;
  margin-bottom: 20px;
}

.project-description__link {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #89baba52;
  padding: 6px;
  border-radius: 2px;
  transition: transform 1.5s;
  text-align: center;
}
.project-description__link:hover {
  box-shadow: 1px 1px 2px 2.5px #4f787852;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}
/* end hover content for projects */
.display-none {
  display: none;
}
.projects-button__carousel {
  font-size: 32px;
}
.projects-button__carousel:hover {
  color: gray;
  cursor: pointer;
}
.angle-container {
  padding-left: 25%;
}
#right {
  margin-right: 20%;
}
/* animations for portfolio/projects */
.slide-left {
  animation: slideleft 2s;
}
.slide-right {
  animation: slideright 2s;
}
.slide-left_out {
  animation: fadeout 2s, slideleft 2s;
}
.slide-left_in {
  animation: fadein 2s, slideleft 2s;
}
.slide-right_in {
  animation: fadein 2s, slideright 2s;
}
.slide-right_out {
  animation: fadeout 2s, slideright 2s;
}
@keyframes slideleft {
  from {
    position: relative;
    right: 0;
  }
  to {
    position: relative;
    right: 65%;
  }
}
@keyframes slideright {
  from {
    position: relative;
    right: 62%;
  }
  to {
    position: relative;
    right: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* projects page no media query -----------------------------------------------------*/
.next-project__arrow {
  font-size: 100px;
  margin-top: 150px;
}
.next-project__arrow:hover {
  color: rgb(41, 68, 126);
}
.next-project__link {
  display: block;
  text-decoration: none;
  color: black;
}
.middle-container {
  display: flex;
}
.main-section.project {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
}
.project-page__headers {
  width: 100%;
}
.project-page_title {
  font-family: 'Proza Libre', sans-serif;
  font-size: 24px;
  margin-bottom: 5px;
}
.project-page__description {
  margin-bottom: 25px;
}
.summary-section {
  width: 50%;
}
.summary-header {
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.project__second-container {
  width: 50%;
}
.project__second-paragraph {
  width: 100%;
  margin: 20px 20px 20px 0;
}
.project img {
  width: 450px;
  height: 250px;
  box-shadow: 2.5px 2.5px 3px 3.5px #8a8a8a;
  display: block;
  margin: 20px 40px 0 10px;
}
.technology-container {
  width: 100%;
  margin: 20px 40px 40px 0;
}
.technology-section__header {
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.technology-section__description {
  font-family: 'Proza Libre', sans-serif;
  font-size: 14px;
}
.technology-section__technologies {
  list-style-type: circle;
  padding-left: 20%;
}
.project-page__resources {
  width: 100%;
}
.resources-title {
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
@media (min-width: 415px) {
  /* portfolio.ejs min width 415px -----------------------------------------------------*/
  .img-div {
    display: flex;
    padding-left: 10%;
  }
}
