@import './reset.less';
@import './mobile.less';
html, body {
  height: 100%;
  max-width: 100%;
}
body {
  box-sizing: border-box;
  background-color: rgb(32, 32, 32);
  padding: 6px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 80%;
  padding-bottom: 140px;
  position: relative;
  margin-bottom: 0;
}
/* nav-bar */
.nav-bar {
  display: flex;
}
.nav-header {
  font-size: 42px;
  color: black;
  margin-right: 42%;
  border: 3px solid white;
  border-radius: 4px;
  padding: 0 5px 7px 5px;
  height: 40px;
}
a.nav-header:hover {
  background-color: rgb(34, 33, 33);
  color: white;
}
.button {
  display: none;
}
.nav-link {
  font-size: 16px;
  color: black;
  text-decoration: none;
}
.nav-link:hover {
  color: rgb(41, 68, 126);
  text-decoration-line: underline;
}
/* generic page content */
.main-section {
  margin: 0 5%;
}
.main-section.front-page {
  margin: 0 20px;
}
.page-title {
  font-size: 28px;
  margin-bottom: 15px;
  font-family: 'Proza Libre', sans-serif;
}
.next-page__link {
  text-decoration: none;
  color: black;
  font-family: 'Supermercado One', cursive;
  margin-left: 55%;
  padding: 2px;
  border: 1px solid white;
}
.next-page__link:hover {
  color: rgb(0, 66, 97);
  border: 1px solid rgb(211, 207, 207);
  box-shadow: 4px 4px 2px 1px rgb(163, 159, 159);
}
/* footer-section */
.footer-section {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin: 6px;
  background-image: linear-gradient(to bottom, white, #353030);
  text-align: center;
}
.footer-links {
  margin-bottom: 10px;
}
.footer-list-item {
  display: inline;
  margin-right: 2px;
}
.fa-circle {
  color: rgb(216, 216, 216);
  font-size: 8px;
  border:0.5px solid rgb(174, 174, 174);
  border-radius: 50%;
}
.fa-circle:hover {
  color: rgb(36, 34, 32);
  border-color: rgb(49, 47, 46);
}
svg.active-link {
  color: rgb(83, 83, 83);
  border:0.5px solid rgb(219, 219, 219);
}
.footer-text {
  font-family: 'Supermercado One', cursive;
  margin-bottom: 20px;
}
.footer-icon {
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-size: 26px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.footer-icon:hover {
  color: rgb(8, 8, 53);
}
/* index.ejs all screen sizes */
.resume-link {
  font-family: 'Supermercado One', cursive;
  font-size: 26px;
  color: black;
  text-decoration: none;
}
.resume-link:hover {
  color: rgb(104, 104, 138);
}
.main-paragraph {
  margin-bottom: 20px;
}
/* portfolio content no media query -carousel */
.page-title.portfolio {
  margin-left: 5%;
}
.projects-container {
  margin-bottom: 10px;
}
.project_container {
  margin: 10px 20px 10px 0;
  position: relative;
}
.project-img {
  width: 50vw;
  min-width: 135px;
  height: 30vw;
  min-height: 100px;
  border: 1px solid silver;
  border-radius: 2px;
}
/* hover transition for img-description */
.img-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4d526cb8;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 15px;
  /* transition effect. not necessary */
  transition: opacity .8s, visibility .5s, height 1s;
}
.project_container:hover .img-description {
  visibility: visible;
  opacity: 1;
  height: 92%;
  box-shadow: 1.5px 2px 2px 4px rgb(173, 167, 167);  
}
.project-title {
  font-family: 'Proza Libre', sans-serif;
  font-size: 24px;
}
.project-description__link {
  text-decoration: none;
  color: blue;
  background-color: gray;
}
/* end hover content for projects */
.display-none {
  display: none;
}
.projects-button__carousel {
  font-size: 32px;
}
.projects-button__carousel:hover {
  color: gray;
  cursor: pointer;
}
.angle-container {
  padding-left: 25%;
}
#right {
  margin-right: 15%;
}
/* animations for portfolio/projects */
.slide-left {
  animation: slideleft 2s;
}
.slide-right {
  animation: slideright 2s;
}
.slide-left_out {
  animation: fadeout 2.5s, slideleft 2.5s;
}
.slide-left_in {
  animation: fadein 2.5s, slideleft 2.5s;
}
.slide-right_in {
  animation: fadein 2.5s, slideright 2.5s;
}
.slide-right_out {
  animation: fadeout 2.5s, slideright 2.5s;
}
@keyframes slideleft {
  from {
    position: relative;
    right: 0;
  } to {
    position: relative;
    right: 60%;
  }
}
@keyframes slideright {
  from {
    position: relative;
    right: 58%;
  } to {
    position: relative;
    right: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}
/* projects page no media query */
.middle-container {
  display: flex;
}
.main-section.project {
  width: 90%;
}
.project-page_title {
  font-family: 'Proza Libre', sans-serif;
  font-size: 24px;  
}
.next-project__link {
  display: block;
  text-decoration: none;
  color: black;
}
.next-project__arrow {
  font-size: 100px;
}
/* about-me.ejs no media query */
.about-paragraph {
  margin-bottom: 20px;
  width: 80%;
  line-height: 1.2;
}
/* contact.ejs no media query */
.input {
  padding: 2px 4px;
  font-family: 'Proza Libre', sans-serif;
}
.submit-button {
  border-radius: 2px;
  border: 1px solid rgb(207, 201, 188);
  background-color: rgb(231, 224, 208);
  font-family: 'Proza Libre', sans-serif;
  cursor: pointer;
  padding: 2px 8px;
}
.submit-button:hover {
  color: white;
  background-color: rgb(156, 154, 151);
}
/* Page content */
@media (min-width: 415px) {
  /* nav-bar min width 415px */
  nav.nav-bar {
    padding: 30px 10%;
  }
  .nav-bar__main {
    margin-top: 10px;
  }
  /* index.ejs min width 415px */
  .front-page {
    display: flex;
  }
  .me-image {
    width: 40%;
    height: 5%;
    float: left;
  }
  .me-description {
    padding: 0 20px 0 30px;
    line-height: 1.2;
  }
  .skills-label {
    font-size: 24px;
    font-family: 'Proza Libre', sans-serif;
    margin-bottom: 8px;
  }
  .skills-table {
    width: 100%;
    height: 60%;
  }
  .last-child {
    height: 35%;
  }
  .last-child td {
    vertical-align: middle;
  }
  progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    color: rgb(86, 86, 102);    
    width: 150px;
    height: 15px;
  }
  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress[value]::-webkit-progress-value {
    background-color: rgb(86, 86, 102);
  }
  progress[value]::-moz-progress-bar { 
    background-color: rgb(86, 86, 102);
  }
  a.portfolio-link {
    margin-left: 0;
  }
  .table.contact {
    font-size: 12px;
    vertical-align: middle;
  }
  /* fallback for progress bar */
  .progress-bar {
    background-color: whiteSmoke;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  
    width: 250px;
    height: 20px;
    
    position: relative;
    display: block;
  }
    
  .progress-bar > span {
    background-color: blue;
    border-radius: 2px;
  
    display: block;
    text-indent: -9999px;
  }
  .nav-list-item {
    display: inline;
    margin-right: 20px;
    font-size: 24px;
  }
  /* contact page min width 415 px */
  .contact-form {
    display: grid;
    grid-template-columns: 15% 20% 15px 10% 40%;
    grid-template-rows: 40px 40px 40px 40px 30px 30px;
    margin-bottom: 20px;
  }
  .firstName-label {
    grid-row: 2 / span 1;
  }
  input[name=firstName] {
    grid-row: 2 / span 1;
  }
  .lastName-label {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  input[name=lastName] {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  .email-label {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  input[name=email] {
    grid-row: 4 / span 1;
  }
  .message-label {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }
  textarea[name=message] {
    grid-column: 4 / span 2;
    grid-row: 2 / span 5;
  }
  textarea.message-input {
    padding: 4px;
  }
  .submit-button {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
  }
  input.input {
    height: 30px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid rgb(172, 161, 161);
  }
  .response-text {
    margin-left: 30%;
  }
  /* portfolio.ejs min width 415px */
  .img-div {
    display: flex;
    padding-left: 10%;
  }
} 
/* end media query min width 415 px */
